@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Inter", sans-serif; */
/* font-family: "Raleway", sans-serif; */

/* UNIVERSAR CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

body {
    font-family: "Raleway", sans-serif;
}

/* REUSABLE CSS */

.btn {
    background: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    transition: 0.3s all ease;
    cursor: pointer;
}

.btn:hover {
    font-size: 18px;
    background: #eec303;
    color: #000;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: #252432;
}


section {
    width: 1140px;
    margin: 0 auto;
}



/* START HEADER SECTION */

.header-section {
    background-image: url(images/Hero-bg.png);
    height: 700px;
}

/* END HEADER SECTION */

/* NAV SECTION STYLES START */

.navbar {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.navbar .logo {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}


/* NAV SECTION STYLES END */

/* BANNER SECTION STYLES START */

.banner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    margin-top: 158px;
}

.banner-section h1 {
    font-size: 65px;
    font-weight: 700;
    color: #252432;
}

.btn-banner {
    margin-top: 35px;
}


/* BANNER SECTION STYLES END */


/* ACTION SECTION STYLES START */

.action-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 328px;

}


.action-section .left-side {
    width: 517px;
}

.action-section .left-side h1 {
    font-size: 42px;
    padding-bottom: 23px;
}

.action-section .left-side p {
    font-size: 24px;
    font-weight: 400;
    color: #25243270;
    padding-bottom: 23px;
}

.action-section .right-side {
    width: 403px;
    margin-top: 110px;
}

.action-section .right-side img {
    width: 100%;
    border-radius: 48px;
}

/* ACTION SECTION STYLES END */


/* PRODUCTIVE SECTION STYLES START */

.productive-section {
    background: rgba(75, 81, 255, 0.1);
    padding: 50px 80px;
    margin-top: 116px;
    height: 306px;
    border-radius: 24px;
}

.productive-section h1 {
    font-size: 38px;
    text-align: center;
    margin-top: 10px;
}

.productive-section .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 856px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.productive-section .user h1 {
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    margin-top: 40px;
}



.productive-section .user p {
    font-size: 20px;
    font-weight: 400;
    color: #25243270;
}



/* PRODUCTIVE SECTION STYLES END */