@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Inter", sans-serif; */
/* font-family: "Raleway", sans-serif; */

/* UNIVERSAR CSS */
* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}


/* REUSABLE CSS */

.btn {
    background: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}



/* START HEADER SECTION */

.header-section {
    background-image: url(images/Hero-bg.png);
    height: 700px;
}

/* END HEADER SECTION */

/* NAV SECTION STYLES START */

.navbar {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.navbar .logo {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}


/* NAV SECTION STYLES END */

/* BANNER SECTION STYLES START */

.banner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    margin-top: 158px;
}

.banner-section h1 {
    font-size: 65px;
    font-weight: 700;
    color: #252432;
}

.btn-banner {
    margin-top: 35px;
}


/* BANNER SECTION STYLES END */
