@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Inter", sans-serif; */
/* font-family: "Raleway", sans-serif; */

/* UNIVERSAR CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    list-style: none;
}

body {
    font-family: "Raleway", sans-serif;
    background: rgb(245, 248, 255);
}

/* REUSABLE CSS */

.btn {
    background: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    transition: 0.3s all ease;
    cursor: pointer;
}

.btn:hover {
    font-size: 18px;
    background: #eec303;
    color: #000;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: #252432;
}


section {
    width: 1140px;
    margin: 0 auto;
}



/* START HEADER SECTION */

.header-section {
    background-image: url(images/Hero-bg.png);
    height: 700px;
}

/* END HEADER SECTION */

/* NAV SECTION STYLES START */

.navbar {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.navbar .logo {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}


/* NAV SECTION STYLES END */

/* BANNER SECTION STYLES START */

.banner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    margin-top: 158px;
}

.banner-section h1 {
    font-size: 65px;
    font-weight: 700;
    color: #252432;
}

.btn-banner {
    margin-top: 35px;
}


/* BANNER SECTION STYLES END */


/* ACTION SECTION STYLES START */

.action-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 328px;

}


.action-section .left-side {
    width: 517px;
}

.action-section .left-side h1 {
    font-size: 42px;
    padding-bottom: 23px;
}

.action-section .left-side p {
    font-size: 24px;
    font-weight: 400;
    color: #25243270;
    padding-bottom: 23px;
}

.action-section .right-side {
    width: 403px;
    margin-top: 110px;
}

.action-section .right-side img {
    width: 100%;
    border-radius: 48px;
}

/* ACTION SECTION STYLES END */


/* PRODUCTIVE SECTION STYLES START */

.productive-section {
    background: rgba(75, 81, 255, 0.1);
    padding: 50px 80px;
    margin-top: 116px;
    height: 306px;
    border-radius: 24px;
}

.productive-section h1 {
    font-size: 38px;
    text-align: center;
    margin-top: 10px;
}

.productive-section .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 856px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.productive-section .user h1 {
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    margin-top: 40px;
}



.productive-section .user p {
    font-size: 20px;
    font-weight: 400;
    color: #25243270;
}

/* PRODUCTIVE SECTION STYLES END */


/* USERS OPINION SECTION STYLES START */

.user-opinion-section {
    height: 342px;
    margin-top: 137px;
}


.user-opinion-section h1{
    font-size: 42px;
    text-align: center;
    padding-bottom: 50px;
}


.review {
    display: flex;
    justify-content: space-between;
}

.card {
    background: rgb(250, 252, 255);
    border: 0.2px solid #F2EDED;
    width: 366px;
    height: 243px;
    border-radius: 14px;
    padding: 24px 24px;
}

.card .icon {
    width: 116px;
    height: 20px;
    margin-bottom: 24px;
}


.card h2 {
    font-size: 24px;
    color: #252432;
    margin-bottom: 8px;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}


.card .name {
    display: flex;
    gap: 12px;
}


.name img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.name span {
    display: block;
    margin-top: 3px;
    color: #25243279;
}

/* USERS OPINION SECTION STYLES END */

/* READY SECTION STYLES START */

.readysection {
    background: #fff;
    height: 696px;
    padding: 71px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 137px;
}

.readysection h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.readysection p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.btn-ready {
    text-align: center;
}


.readysection img {
    width: 840px;
    height: 364px;
    border-radius: 48px;
}

/* READY SECTION STYLES END */


/* LETS GET IN TOUCH SECTION STYLES START */

.lgit-section {
    height: 632px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 95px;
}

.lgit-section .left-bar {
    width: 528px;
}

.lgit-section .left-bar h1 {
    font-size: 97px;
    font-weight: 700;
}

.right-bar {
  width: 497px;
  height: 490px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

input {
  margin-bottom: 20px;
  padding: 17px 100px;
  font-size: 14px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
}

textarea {
  margin-bottom: 20px;
  padding: 17px 100px;
  font-size: 14px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
}


.btn-form {
  padding: 17px 100px;
}



/* LETS GET IN TOUCH SECTION STYLES END */

/* FOOTER SECTION START */

.footer-section {
    width: 100%;
    height: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 14px;
    background: #fff;
}

.footer-section .logo {
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}

.footer-section p {
    width: 531px;
    text-align: center;
    color: #8987A1;
    font-size: 16px;
}


.footer-link ul {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    margin-top: 20px;
}

.footer-link ul a {
    color: #8987A1;
    font-size: 16px;
}

.footer-link ul a:hover {
    color: #4E47FF;
}

/* FOOTER SECTION END */